{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<h1>Welcome, {{ user.username }}!</h1>

{% if user.is_authenticated %}
  <p>Welcome, {{ user.username }}!</p>

  <h2>Your Profile</h2>

    <form method="post" action="">
        {% csrf_token %}
        {% crispy profile_form %}
    </form>


  <p><a href="{% url 'password_change' %}">Change Password</a></p>
  <form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">Log Out</button>
  </form>
{% endif %}

<p>Select your user area:</p>

{% if 'admin' in roles %}
    <a href="{% url 'admin:index' %}" class="btn btn-primary"><button>Admin Area</button></a>
{% endif %}
{% if 'teacher' in roles %}
    <a href="{% url 'teacher_dashboard' %}" class="btn btn-primary"><button>Teacher Area</button></a>
{% endif %}
{% if 'student' in roles %}
    <a href="{% url 'student_dashboard' %}" class="btn btn-primary"><button>Student Area</button></a>
{% endif %}
{% endblock %}
