<h2>Your Created Courses</h2>

<a href="{% url 'courses:course_create' %}" class="btn btn-success">Add New Course</a>

<ul class="list-group" id="courseCreatedList" style="max-width: 600px;">
  {% for course in created_courses %}
    <li class="list-group-item list-group-item-action" data-course-id="{{ course.id }}">
      {{ course.title }}
    </li>
  {% empty %}
    <li>You haven't created any courses.</li>
  {% endfor %}
</ul>

<h2>Your Collaborating Courses</h2>
<ul>
  {% for course in collaborating_courses %}
    <li>{{ course.title }}</li>
  {% empty %}
    <li>You are not collaborating on any courses.</li>
  {% endfor %}
</ul>


