{% extends "base_with_sidebar.html" %}

{% block content %}

<a href="{% url 'courses:course_list' %}" class="btn btn-secondary mb-3">Back to Course List</a>

<h1>Course: {{ course_title }}</h1>
<p>Description: {{ course_description }}</p>

{% if roles.student %}
    {% if is_enrolled %}
    <form method="post" action="{% url 'courses:disenroll' course.id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-warning">Disenroll</button>
    </form>
    {% else %}
    <form method="post" action="{% url 'courses:enroll' course.id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Enroll</button>
    </form>
    <p>You need to enroll to access materials.</p>
    {% endif %}
{% endif %}

<p><strong>Creator:</strong> {{ course_creator.get_full_name }}</p>

{% include "courses/material_list.html" %}

{% if roles.teacher %}
    {% include "courses/course_collaborators.html" %}
    {% include "courses/course_enrolled_students.html" %}
{% endif %}

<hr class="my-4">
{% include "courses/feedback_summary_and_list.html" %}
{% if roles.student %}
    {% include "courses/feedback_form.html" %}
{% endif %}

{% endblock %}



