<div class="list-group">
  <a href="{% url 'profile' %}" class="list-group-item list-group-item-action">
    Profile
  </a>
  <a href="{% url 'courses:course_list' %}" class="list-group-item list-group-item-action">
    Courses
  </a>
  <a href="{% url 'password_change' %}" class="list-group-item list-group-item-action">
    Change Password
  </a>

  {% if 'admin' in roles %}
    <a href="{% url 'admin:index' %}" class="list-group-item list-group-item-action">
      Admin Area
    </a>
  {% endif %}
</div>
